.na1{
    display: flex;
    justify-content: space-evenly !important;
}
.mainsec{
    margin-left: 10%;
    margin-right: 10%;
}
.sec1{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
    
}
.sec>img{
    width: 339px;
    height: 250px;
}
.sect1{
    margin-right: 20px;
}
.sect1>h1{
    font-size: 70px;
    font-weight: 700;
    color: midnightblue;
    padding-top: 50px;
}
.sec2{
    display: flex;
    column-gap: 7%;
    padding-bottom: 20px;
}
.sect2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.main2>h1{
    color: midnightblue;
    font-size: 50px;
    margin-bottom: 40px;
    
}
.sect2>img{
    width: 300px;
    height: 340px;
}
.sect2>a{
    text-decoration: none;
    padding-bottom: 50px;

}
.sec3{
    display:flex;
    
    
}
.sect3{
    display: flex;
    flex-direction: column;
    padding-right: 50px;
    margin-right: 30px;
}
.sect3>h4{
    font-size: 16px;
}
.sect3>p{
    border-bottom: 1px solid lightskyblue;
    
}
